<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.postopgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Welcome_Screen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FaqRhino"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Welcome_Screen">
            <intent-filter>
                /**Makes this the first activity to launch*/
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sinus" />
        <activity
            android:name=".DCRhino"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RestRhino"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RhinoMeds"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DCSinus"
            android:parentActivityName=".Sinus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".FaqSinus"
            android:parentActivityName=".Sinus">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Sinus" />
        </activity>
        <activity
            android:name=".RestSinus"
            android:parentActivityName=".Sinus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
        <activity
            android:name=".SinusMeds"
            android:parentActivityName=".Sinus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Sinus" />
        </activity>
    </application>

</manifest>